*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(7, 7, 44);
    color:white ;
    height: 5rem;
    line-height: 5rem ;
}
.choice{
    height: 165px;
    width: 165px; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    background-color: rgb(35, 33, 33);
    cursor:pointer;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-score,#comp-score{
    font-size: 3rem;
}
#msg{
    background-color: rgb(35, 35, 40);
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin-top: 5rem;
    display:inline;
    border-radius: 2rem;
    padding: 1rem;
}
.msg-container{
    margin-top: 3rem;
}